main .main_btn, header .nav_btn {
  font-weight: bold;
  background-color: #5528ff;
  color: #fff;
  border: none;
  cursor: pointer;
}
main .main_btn:focus, header .nav_btn:focus {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo_img {
  width: 58px;
  height: 58px;
  background-image: url(../img/logo.svg);
  margin-right: 25px;
}
header .logo_text {
  color: #202020;
  font-size: 24px;
  font-weight: bold;
}
header .nav {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav > li {
  margin-left: 37px;
}
header .nav_btn {
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 5px;
}

main {
  max-width: 1180px;
  margin: 115px auto 0;
}
main .info_title {
  font-size: 56px;
  font-weight: bold;
}
main .main_btn {
  font-size: 24px;
  padding: 16px 58px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
}