%btn {
    font-weight: bold;
    background-color: #5528ff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

    .logo {
        display: flex;
        align-items: center;
    }

    .logo_img {
        width: 58px;
        height: 58px;
        background-image: url(../img/logo.svg);
        margin-right: 25px;
    }

    .logo_text {
        color: #202020;
        font-size: 24px;
        font-weight: bold;
    }

    .nav {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        list-style-type: none;
        align-items: center;
        & > li {
            margin-left: 37px;
        }
    }
    .nav_btn {
        @extend %btn;
        font-size: 14px;
        padding: 4px 15px;
        border-radius: 5px;
    }
}

main {
    max-width: 1180px;
    margin: 115px auto 0;

    .info_title {
        font-size: 56px;
        // font-size:
        font-weight: bold;
    }

    .main_btn {
        @extend %btn;
        font-size: 24px;
        padding: 16px 58px;
        border-radius: 10px;
        display: grid;
    }
}

// font-family: 'Ubuntu', sans-serif;
