$info_text_margin_top: calc(17.5px + 17.5 * ((100vw - 320px) / (1180 - 320)));
$info_text_margin_bottom: calc(
    2 * (17.5px + 17.5 * ((100vw - 320px) / (1180 - 320)))
);
$adaptiv_harur: calc(40px + 60 * ((100vw - 320px) / (1180 - 320)));
$adaptiv_hisun: calc((40px + 60 * ((100vw - 320px) / (1180 - 320))) / 2);
$info_title_size: calc(15px + 41 * ((100vw - 320px) / (1180 - 320)));
%btn {
    font-weight: bold;
    background-color: #5528ff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

%logo {
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 25px;
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden;
}

header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: relative;

    .logo {
        display: flex;
        align-items: center;
    }

    .logo_img {
        @extend %logo;
    }

    .logo_text {
        color: #202020;
        font-size: 24px;
        font-weight: bold;
    }

    .nav {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        list-style-type: none;
        align-items: center;
        & > li {
            margin-left: 37px;
        }
    }
    .nav_btn {
        @extend %btn;
        font-size: 14px;
        padding: 4px 15px;
        border-radius: 5px;
    }

    .nav_control {
        @extend %btn;
        background-color: transparent;
        color: #5528ff;
        position: absolute;
        right: 25px;
        display: none;
    }

    @media (max-width: 700px) {
        .nav {
            display: none;
        }
        .nav_control {
            display: block;
        }
    }
}

main {
    // margin-top: 115px;
    margin-top: calc(50px + 65 * ((100vw - 320px) / (1180 - 320)));

    .info {
        max-width: 1180px;
        margin: 0 auto;
    }

    .info_title {
        // font-size: 56px;
        font-size: $info_title_size;
        font-weight: bold;
    }

    .info_text {
        font-weight: 400;
        margin-top: $info_text_margin_top;
        margin-bottom: $info_text_margin_bottom;
        max-width: 740px;
        font-size: calc(16px + 16 * ((100vw - 320px) / (1180 - 320)));
        color: #4f4f4f;
        text-align: justify;
    }

    .main_btn {
        @extend %btn;
        font-size: 24px;
        padding: 16px 58px;
        border-radius: 10px;

        @media (max-width: 760px) {
            display: block;
            margin: 0 auto;
        }
    }

    .str_end {
        margin-top: $adaptiv_harur;
        position: relative;
        .p1 {
            width: 100%;
            height: 2px;
            background-color: #c2c2c2;
        }

        .p2 {
            padding: 0 20px;
            font-size: 14px;
            font-weight: 300;
            background-color: #fff;
            position: absolute;
            top: -7px;
            left: calc((100vw - 1180px) / 2);
            @media (max-width: 1180px) {
                & {
                    left: calc((100vw / 2) - 65px);
                }
            }
        }

        @media (min-width: 1180px) {
            & {
                margin-top: 100px;
            }
        }
    }

    @media (min-width: 1180px) {
        .info_title {
            font-size: 56px;
        }

        .info_text {
            font-size: 32px;
        }

        & {
            margin-top: 115px;
        }
    }
}

.our_services,
.our_team {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: $adaptiv_harur;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    .service,
    .employer {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .icon {
        width: 154px;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .service_title,
    .employer_name {
        font-size: calc(16px + 12 * ((100vw - 320px) / (1180 - 320)));
        font-weight: 400;

        @media (min-width: 1180px) {
            & {
                font-size: 28px;
            }
        }
    }

    .service_text,
    .employer_job {
        font-size: 14px;
        font-weight: 400;
        color: #b2b2b2;
        max-width: 292px;
        text-align: justify;
        margin-top: 10px;
    }

    @media (min-width: 1180px) {
        & {
            margin-top: 100px;
        }
    }

    @media (max-width: 760px) {
        & {
            grid-template-columns: 1fr;
        }
        .service {
            margin: 0 auto;
        }
    }
}

.our_clients {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: $adaptiv_hisun;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;

    @media (max-width: 840px) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
        div {
            margin: 0 auto;
        }
    }
    @media (max-width: 540px) {
        & {
            grid-template-columns: 1fr;
        }
    }
    @media (min-width: 1340px) {
        & {
            position: relative;
            left: 70px;
        }
    }
}

.our_team {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 840px) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }

        .w9 {
            position: relative;
            left: 30vw;
        }
    }

    @media (max-width: 540px) {
        grid-template-columns: 1fr;

        .w9 {
            position: static;
        }

        div {
            margin: 0 auto;
        }
    }
}

footer {
    background-color: #f7f7f7;
    margin-top: $adaptiv_harur;

    .main_footer {
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_img {
        @extend %logo;
    }

    @media (min-width: 1180px) {
        & {
            margin-top: 100px;
        }
    }
}
.socila_sites {
    background-color: transparent;

    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    li {
        margin-left: 40px;
    }

    li:first-child {
        margin-left: 0;
    }
}

[data-aos="heartBeat"] {
    &.aos-animate {
        animation: heartBeat 3s;
        // animation-timing-function: ease-in-out;
    }
}

[data-aos="fadeInLeft"] {
    &.aos-animate {
        animation: fadeInLeft 2s;
    }
}
// font-family: 'Ubuntu', sans-serif;
