@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
::-moz-selection {
  color: #000000;
  background-color: #ffffff;
}
::selection {
  color: #000000;
  background-color: #ffffff;
}

header .languageSelector, header .languageOption {
  border: none;
  color: white;
  background-color: #000000;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

header #language_img {
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fas,
.fab {
  color: #ffffff;
  cursor: pointer;
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    background-color: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    background-color: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  background-image: url(../img/stars.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@media (max-width: 425px) {
  body {
    background-image: url(../img/stars_mobile.jpg);
  }
}

@media (max-width: 1024px) {
  body {
    overflow: auto;
  }
}

header {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

header .languageSelector:focus {
  border: none;
  outline: none;
}

header .language_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header [class|="ru"] {
  background-image: url(../img/flags/rusastan.png);
}

header [class|="am"] {
  background-image: url(../img/flags/hajastan.png);
}

header [class|="en"] {
  background-image: url(../img/flags/anglia.png);
}

header .wallet {
  text-align: center;
  position: relative;
}

header .wallet .wallet_list {
  display: none;
  position: absolute;
  left: -370%;
  top: 150%;
  white-space: nowrap;
  z-index: 3;
  background-color: #000000;
}

header .wallet .wallet_list input {
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  max-width: 16ch;
}

header .wallet .wallet_list_active {
  display: block;
  -webkit-animation: enter 1s;
          animation: enter 1s;
}

header .soc_sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .soc_sites div {
  border-radius: 50%;
  margin-left: 20px;
}

header .soc_sites div:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1024px) {
  header {
    display: none;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 4;
    background-color: #000000;
  }
  header .soc_sites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wallet {
    z-index: 4;
  }
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
}

.mob_header {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 4;
}

.mob_header i {
  -webkit-animation: rotateIcon 15s;
          animation: rotateIcon 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media (max-width: 1024px) {
  .mob_header {
    display: block;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.drowShapes {
  width: 60%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 1024px) {
  .drowShapes {
    width: 100%;
  }
}

#canvas {
  display: block;
  width: 100%;
}

.data {
  position: relative;
  z-index: 2;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .data {
    width: 100%;
  }
}

.data .triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data .btn_solve {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 60px;
}

.data .btn_solve:focus {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.data .btn_solve:hover {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.data .label {
  margin-right: 10px;
  font-weight: 400;
}

.data .theme,
.data .triangle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.data .themeSelector,
.data .themeOption,
.data input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.data .themeSelector,
.data input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px;
  min-width: 20px;
  max-width: 150px;
  border: none;
}

.data .themeSelector:focus,
.data input:focus {
  outline: none;
}

.data .themeOption {
  background-color: #000000;
  color: #ffffff;
}

.data p {
  background-color: rgba(0, 0, 0, 0.4);
}

#scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#scene .moon {
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 20vh !important;
  left: 5vw !important;
  z-index: -1;
  background-image: url("../img/moon.png");
  background-size: cover;
}

#scene .astronomer {
  width: 6vw;
  height: 6.5vw;
  position: absolute;
  top: 25vh !important;
  left: 15vw !important;
  background-image: url("../img/astronomer3.png");
  background-size: cover;
}

@media (max-width: 768px) {
  #scene .moon {
    left: 35vw !important;
  }
  #scene .astronomer {
    left: 45vw !important;
  }
}
/*# sourceMappingURL=style.css.map */