main .main_btn, header .nav_control, header .nav_btn {
  font-weight: bold;
  background-color: #5528ff;
  color: #fff;
  border: none;
  cursor: pointer;
}
main .main_btn:focus, header .nav_control:focus, header .nav_btn:focus {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  position: relative;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo_img {
  width: 58px;
  height: 58px;
  background-image: url(../img/logo.svg);
  margin-right: 25px;
}
header .logo_text {
  color: #202020;
  font-size: 24px;
  font-weight: bold;
}
header .nav {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav > li {
  margin-left: 37px;
}
header .nav_btn {
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 5px;
}
header .nav_control {
  background-color: transparent;
  color: #5528ff;
  position: absolute;
  right: 25px;
  display: none;
}
@media (max-width: 700px) {
  header .nav {
    display: none;
  }
  header .nav_control {
    display: block;
  }
}

main {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: calc(50px + 65 * ((100vw - 320px) / (1180 - 320)));
}
main .info_title {
  font-size: calc(15px + 41 * ((100vw - 320px) / (1180 - 320)));
  font-weight: bold;
}
main .info_text {
  font-weight: 400;
  margin-top: calc(17.5px + 17.5 * ((100vw - 320px) / (1180 - 320)));
  margin-bottom: calc( 2 * (17.5px + 17.5 * ((100vw - 320px) / (1180 - 320))) );
  max-width: 745px;
  font-size: calc(16px + 16 * ((100vw - 320px) / (1180 - 320)));
  color: #4f4f4f;
  text-align: justify;
}
main .main_btn {
  font-size: 24px;
  padding: 16px 58px;
  border-radius: 10px;
}
@media (max-width: 425px) {
  main .main_btn {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1180px) {
  main .info_title {
    font-size: 56px;
  }
  main .info_text {
    font-size: 32px;
  }
  main {
    margin-top: 115px;
  }
}