* {
    margin: 0;
    padding: 0;
}

.part {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.part1 {
    background-image: url("img/img1.jpg");
}

.part2 {
    background-image: url("img/img2.jpg");
}

.part3 {
    background-image: url("img/img3.jpg");
}

.part4 {
    background-image: url("img/img4.jpg");
}

.part5 {
    background-image: url("img/img5.jpg");
}

@media (max-width: 425px) {
    .part1 {
        background-image: url("img/img01.jpg");
    }

    .part2 {
        background-image: url("img/img02.jpg");
    }

    .part3 {
        background-image: url("img/img03.jpg");
    }

    .part4 {
        background-image: url("img/img04.jpg");
    }

    .part5 {
        background-image: url("img/img05.png");
    }
}

